# Application
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL="postgresql://postgres:postgres123@localhost:5432/testbackend_db?schema=public"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis123

# Weather API
WEATHER_API_BASE_URL=https://api.open-meteo.com/v1
GEOCODING_API_BASE_URL=https://geocoding-api.open-meteo.com/v1

# Scheduler
WEATHER_CRON_SCHEDULE="*/15 * * * *"  # Every 15 minutes

# Cache
CACHE_TTL=900  # 15 minutes in seconds

